* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.clear {
    clear: both;
}

.mainContainer {
    font-size: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex: 0 0 auto;
    background-color: #e6e6e6;
    height: 62px;
    line-height: 24px;
}

.title {
    color: blue;
    padding: 18px;
}

.content {
    display: flex;
    flex: 1 0 auto;
    margin: 0 auto;
    height: calc(100vh - 62px);
    width: 100%;
    background-color: bisque;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    display: flex;
}

.downIcon {
    background: url("../image/angle-arrow-down_icon.png") no-repeat;
    background-size: 60% auto;
    margin: 8px 0 0 12px;
    padding: 5px 10px 0 12px;
    opacity: 0.8;
}

.topmenu {
    display: flex;
    flex-direction: row;
}

.topmenu > li {
    position: relative;
}

.topmenu > li > a {
    padding: 19px 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.submenu a:hover {
    color: #086008;
    opacity: 0.4;
}

.menuItem:hover {
    color: green;
    opacity: 0.4;
}

.submenu li {
    position: relative;
}

.submenu li a {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 26px;
    border-bottom: 1px solid #cbcbcc;
}

.submenu .submenu {
    position: absolute;
    top: -1px;
    left: 100%;
    margin-left: 0;
    transition: .3s linear;
}

nav li:hover > .submenu {
    visibility: visible;
    opacity: 1;
}